body {
    width: auto;
    height: auto;
    background: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px;
    text-align: justify;
    padding-right: 325px;
}

h5 {
    font-style: italic;
    font-weight: 300;
    margin-top: -15px;
}

#divImg {
    width: 200px;
    height: 200px;
    margin-left: 1100px;
}

.divHeadings {
    margin-top: -175px;
}