.divClass {
    width: 500px;
}

#thirdDiv {
    width: 600px;
    height: 500px;
    background-color: red;
    padding: 50px;
    border: 20px solid blue;
}

#idSpan {
    font-size: 18px;
    margin: px;
}